#adminModal {
  display: block;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* прокрутка для всего модального окна */
  padding: 20px; /* отступы для мобильных */
  box-sizing: border-box;
}

#adminModalContent {
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  width: 400px;
  max-height: 80vh; /* ограничиваем высоту окна 80% от высоты экрана */
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  position: relative;
  overflow-y: auto; /* внутреняя прокрутка, если контент не помещается */
  box-sizing: border-box;
}

/* кнопка закрытия */
#closeAdminModal {
  position: absolute;
  top: 10px; right: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}


/* КНОПКА ИЗМЕНЕНИЯ ЗАДНЕГО ФОНА*/

button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #3a6ffb;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(38, 106, 255, 0.4);
}

button:active {
  transform: scale(0.98);
  box-shadow: 0 3px 5px rgba(37, 117, 252, 0.8);
}

/* input */

input {
  display: inline-block;
  width: 60px;            /* ширина поля */
  padding: 4px 8px;       /* внутренние отступы */
  font-size: 14px;        /* размер шрифта */
  font-family: Arial, sans-serif;
  border: 1px solid #ccc; /* рамка */
  border-radius: 4px;     /* скругление углов */
  box-sizing: border-box; /* учитываем padding в ширину */
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #007BFF;  /* цвет рамки при фокусе */
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* тень */
}
